<script src="https://giscus.app/client.js"
        data-repo="gunwoong1630/gunwoong1630.github.io"
        data-repo-id="R_kgDOOVHXEQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOOVHXEc4Co9Jm"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>